node_modules
datadir/
.idea/
.vscode
snapshots/
coverage
typechain
networks
*error.log

# Hardhat files
cache
artifacts

database.sqlite
.env
.env*
!.env.example
.DS_Store
*.sqlite
.npmrc
coverage.json
typechain-types